<header role="banner" class="site-header">
  <div class="site-header--brand">
    {% if is_front %}
    <div class="site-branding">
      <h1 class="site-branding--name">{{ 'Nice Villages'|t }}</h1>
      <h2 class="site-branding--baseline">{{ 'Explore villages that are worth seeing'|t }}</h2>
    </div>
    {% else %}
    <a href="{{ path('<front>') }}" class="site-branding">
      <span class="site-branding--name">{{ 'Nice Villages'|t }}</span>
      <span class="site-branding--baseline">{{ 'Explore villages that are worth seeing'|t }}</span>
    </a>
    {% endif %}
  </div>
  <div class="site-header--left">
    <a rel="nofollow" href="{{ path('node.add', {'node_type' : 'village'}) }}" class="button-contribute">{{ 'Add a new village'|t }}</a>
  </div>
  <div class="site-header--right">
    <div class="burger-menu--trigger">{{ 'Menu'|t }}</div>
    {% if logged_in %}
      <a class="site-header--username" href="/user/{{ user_id }}/edit">{{ user_name }}</a>
    {% else %}
      <a rel="nofollow" href="{{ path('user.login') }}" class="site-header--register">{{ 'Sign in'|t }}</a>
      <a rel="nofollow" href="{{ path('user.register') }}" class="button-contribute">{{ 'Sign up'|t }}</a>
    {% endif %}
  </div>
</header>