<div class="teaser-village" itemscope itemtype="http://schema.org/City">
  <a{{ target|raw }} href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="teaser-village--content">
    <div class="teaser-village--picture" itemprop="image" itemscope  itemtype="http://schema.org/ImageObject">
      <meta itemprop="contentUrl" content="{{ file_url(node.field_pictures.entity.uri.value) }}" />
      {{ content.field_pictures.0 }}
    </div>
    <div class="teaser-village--overlay">
      <h2 class="teaser-village--title">
        <span itemprop="name">{{ label }}</span>&nbsp;{% if content.field_country %}<span class="teaser-village--flag">{{ content.field_country }}</span>{% endif %}
      </h2>
      <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="{{ node.field_latitude.value }}" />
        <meta itemprop="longitude" content="{{ node.field_longitude.value }}" />
      </div>
      {% if comment_count > 0 %}
      <div class="teaser-village--rating">
        <p class="five-stars {{ note_css_class }}" itemprop="rating" itemscope itemtype="http://schema.org/AggregateRating">
          <span class="five-stars--star"></span>
          <span class="five-stars--star"></span>
          <span class="five-stars--star"></span>
          <span class="five-stars--star"></span>
          <span class="five-stars--star"></span>
          <meta itemprop="ratingValue" content="{{ node.field_note.value }}" />
          <meta itemprop="bestRating" content="5" />
          <meta itemprop="ratingCount" content="{{ comment_count }}" />
        </p>
      </div>
      {% endif %}
    </div>
  </a>
  <div class="inline-actions">
    <a{{ target|raw }} href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="button-action">{{ 'Discover'|t }}</a>
  </div>
</div>