{#
/**
 * @file
 * Nice Villages theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: Items for the content region.
 * - page.content_after: Items for the content after region.
 * - page.content_after_animate: Items for the content after animate region (animations block).
 * - page.footer_before_left: Items for the footer before left region.
 * - page.footer_before_right: Items for the footer before right region.
 * - page.footer: Items for the footer before region.
 * - page.footer_legal: Items for the footer before region.
 *
 */
#}

<div class="container">
  <header class="site-header">
    <div class="site-header--brand">
      <h1 class="site-branding">
        <span class="site-branding--name">{{ 'Nice Villages'|t }}</span>
        <span class="site-branding--baseline">{{ 'Explore villages that are worth seeing'|t }}</span>
      </h1>
    </div>
    <div class="site-header--left">
      <a rel="nofollow" href="{{ path('node.add', {'node_type' : 'village'}) }}" class="button-contribute">{{ 'Add a new village'|t }}</a>
    </div>
    <div class="site-header--right">
      <div class="burger-menu--trigger">{{ 'Menu'|t }}</div>
      <a rel="nofollow" href="{{ path('user.login') }}" class="site-header--register">{{ 'Sign in'|t }}</a>
      <a rel="nofollow" href="{{ path('user.register') }}" class="button-contribute">{{ 'Sign up'|t }}</a>
    </div>
  </header>
  {% if page.mainmenu %}
    <div class="main-menu">
      <div class="main-menu--overlay"></div>
      <div class="main-menu--panel">
        <div class="main-menu--header">
          <div class="site-branding small">
            <span class="site-branding--name">{{ 'Nice Villages'|t }}</span>
            <span class="site-branding--baseline">{{ 'Explore villages that are worth seeing'|t }}</span>
          </div>
        </div>
        <div class="main-menu--content">
          {{ page.mainmenu }}
        </div>
        <div class="main-menu--footer">
          {{ page.mainmenu_socials }}
        </div>
      </div>
    </div>
  {% endif %}
  {% if page.home_villages %}
    <div class="search-villages">
      <div class="search-villages--filters map-search">
        <div class="map-search--aside">
          <div class="map-filters">
            <h2 class="map-filters--title">
              Search<span class="map-filters--smaller">for a village</span>
            </h2>
            <div class="map-filters--form">
              {{ page.home_filters }}
            </div>
          </div>
        </div>
        <div class="map-search--section"></div>
      </div>
      <div class="search-villages--content">
        {{ page.home_villages }}
      </div>
    </div>
  {% endif %}
  {% if page.footer %}
    <footer class="site-footer">
      <div class="site-footer--main">
        {{ page.footer }}
      </div>
      <div class="site-footer--aside">
        {{ page.footer2 }}
      </div>
      <div class="site-footer--brand">
        <div class="site-branding small">
          <span class="site-branding--name">{{ 'Nice Villages'|t }}</span>
          <span class="site-branding--baseline">{{ 'Explore villages that are worth seeing'|t }}</span>
        </div>
      </div>
    </footer>
  {% endif %}
</div>

